@import '../App.scss';

.about-section{
    background-color: $white1-color;
    height: 90vh;
}

.right {
    position: relative;
    left: auto;
    right: auto;
    top: 25px;
    z-index: 1;
    background-color: $white1-color;
    width: 100%;
    // box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    height: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px 1fr 70px 1fr;
    grid-template-areas:
                            "about about"
                            "about-text about-text "
                            "details details" ;
    
    .about-title {
        grid-area: about;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

   
    h2{
        position: relative;
        width: fit-content;
        margin-top: 20px;
        font-weight: $font-weight-bold;
        font-size: $font-size;
        padding: 0px 44px;
        text-align: center;
        @include thelineh2;

        &::first-letter{
            color: $blue-color;
        }
    }
    }


    .serv{
        grid-area: my-serv;
    }

    .about-text{
        grid-area: about-text;
        text-align: start;
        font-weight: 500;
        padding:0px 44px;
        padding-top: 2rem;
        font-size: 1rem;
        strong{
            font-weight: $font-weight-normal;
            font-size: 1.2rem;
        }

        p{
            padding-top: 1rem;
            font-size: 17px;
            color: $secondary-color;
        }
    }

    .details{
        grid-area: details;
        padding: 0px 44px;
        width: 407px;

        ul{
            list-style: none;
            width: 100%;
            line-height: 2rem;
            padding: 0px 0px;

            li {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                font-weight: 400;
                margin-bottom: 5px;

                strong{
                    background: $blue-color;
                    font-size: 14px;
                    color: #fefefe;
                    font-weight: $font-weight-light;
                    border-radius: 3px;
                    span{
                    padding: 1px 7px
                    }
                }

                &:after{
                    display: block;
                    height: 2px;
                    content: "";
                    width: 100%;
                    margin-top: 7px;
                    background: -moz-radial-gradient(left,ellipse cover,#ddd 0%,rgba(255,255,255,0) 70%);
                    background: -webkit-radial-gradient(left,ellipse cover,#ddd 0%,rgba(255,255,255,0) 70%);
                    background: radial-gradient(ellipse at left,#ddd 0%,rgba(255,255,255,0) 70%);
                }

            }
        }
    
    }
    .codesvg{
        width: 285px;
        position: absolute;
        right: 44px;
        bottom: -15px;
        img{
            width: 100%;
        }
    }
       


}

@media screen and (max-width:600px) {
    .about-section{
        background-color: $white1-color;
        height: fit-content;
        padding-bottom: 20px;
    }
    
    .right {
        position: relative;
        right: 0px;
        top: 25px;
        z-index: 1;
        background-color: white;
        width: 100%;
        height: auto;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas:
            "about "
            "about-text "
            "details "
            "codesvg ";
        
  .about-title {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
       
        h2{
            position: relative;
            width: fit-content;
            margin-top: 20px;
            font-weight: $font-weight-bold;
            font-size: $font-size;
            padding: 0px 44px;
            text-align: center;
            @include thelineh2;
    
            &::first-letter{
                color: $blue-color;
            }
        }

        }
    
    
        .about-text{
            grid-area: about-text;
            text-align: start;
            font-weight: 500;
            padding:0px 0px;
            padding-top: 2rem;
            font-size: 1rem;
            strong{
                font-weight: $font-weight-normal;
                font-size: 1.2rem;
            }
    
            p{
                padding-top: 1rem;
                font-size: 17px;
                color: $secondary-color;
            }
        }
    
        .details{
            grid-area: details;
            padding: 0px 0px;
            width: 100%;
    
            ul{
                list-style: none;
                width: 100%;
                line-height: 2rem;
                padding: 0px 0px;
                margin-top: 2rem;
    
                li {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    font-weight: 400;
                    margin-bottom: 5px;
    
                    strong{
                        background: $blue-color;
                        font-size: 14px;
                        color: #fefefe;
                        font-weight: $font-weight-light;
                        border-radius: 3px;
                        span{
                        padding: 1px 7px
                        }
                    }
    
                    &:after{
                        display: block;
                        height: 2px;
                        content: "";
                        width: 100%;
                        margin-top: 7px;
                        background: -moz-radial-gradient(left,ellipse cover,#ddd 0%,rgba(255,255,255,0) 70%);
                        background: -webkit-radial-gradient(left,ellipse cover,#ddd 0%,rgba(255,255,255,0) 70%);
                        background: radial-gradient(ellipse at left,#ddd 0%,rgba(255,255,255,0) 70%);
                    }
                }
            }


        }
        .codesvg{
            grid-area: codesvg;
            margin-top: 3rem;

            .imagecode{
                align-self: center;
                justify-self: center;
                width: 300px;
                height: 300px;
                padding: 5px;
            }
        }


        
           
    
    
    }
}