@import'../App.scss';
  
  .about-page{
    background-color:$white1-color;
    // background-color:$white1-color;
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: center;
        border: 1px solid #000;
        // grid-template-columns: repeat(2,  1fr);
    }
