@import '../App.scss';


.contact-sec{
    margin-top: 3rem;
    margin-bottom: 3rem;
    scroll-margin-top: 50px;
    .h2{
        padding: 0px;
        width: 100%;
        text-align: center;
    }
    .btn-primary{
        
        background-color: $blue-color;
    }

}