@import '../App.scss';

$header-font-size: 21px;

.section_nav{
    background-color: transparent;
    top: 0px;
    color: $black-color;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    z-index: 123;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
}

    
    .navbar-brand{
        color: $black-color;
        font-size: $header-font-size;
        font-weight: $font-weight-bold;
    }
    
    
    
    .sticky-toip{
        position: sticky;
        background: transparent;
        flex-wrap: nowrap;
        justify-content: space-around;
        height: 60px;
        width: 100%;
        max-width: 100%;
        z-index: 123;

        .nav-links a{
            position: relative;
            font-weight: 400;
            display: flex;  
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: $black-color;
            width: 98px;
            height: 55px;
            text-align: center;
            &:Hover{
   
                background-color: #008be8;
                color:$white1-color;
                transition: $main-transition;
            }
        }
    
        .FaBars{
                display: none;
        }
    }
    
    .me-auto  {
    justify-content: end !important;
    }


