@import '../App.scss';

$header-font-size: 21px;

.section_nav{
    position: sticky;
    background-color: transparent;
    top: 0px;
    height: 60px;
    color: $black-color;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    z-index: 123;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);


    
    .navbar-brand{
        color: $black-color;
        font-size: $header-font-size;
        font-weight: $font-weight-bold;
    }
    
    
    
    .header-big{
        position: sticky;
        background: transparent;
        flex-wrap: nowrap;
        justify-content: space-around;
        height: 60px;
        width: 100%;
        max-width: 100%;
        z-index: 123;

        .nav-links a{
            position: relative;
            font-weight: 400;
            display: flex;  
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: $black-color;
            width: 98px;
            height: 55px;
            text-align: center;
            &:Hover{
   
                background-color: #008be8;
                color:$white1-color;
                transition: $main-transition;
            }
        }
    
        .FaBars{
                display: none;
        }
    }
    
    .me-auto  {
    justify-content: end !important;
    }
}


@media screen and (max-width:600px) {

    .section_nav{
        position: sticky;
        background-color:transparent;
        top: 0px;
        height: 60px;
        color: $black-color;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        z-index: 123;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        backdrop-filter: blur(20px);
    
    
        
        .navbar-brand{
            color: $black-color;
            font-size: $header-font-size;
            font-weight: $font-weight-bold;
        }
        
        .header-small{
            position: sticky;
            background: rgb(117, 94, 94);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            gap: 10px;
            align-items: center;
            height: 100%;
            width: 100%;
            max-width: 100%;
            z-index: 124;
    
        }
        
        .header-big{
            position: sticky;
            background: transparent;
            flex-wrap: nowrap;
            justify-content: space-around;
            height: 60px;
            width: 100%;
            max-width: 100%;
            z-index: 123;
    
            .nav-links a{
                position: relative;
                font-weight: 400;
                display: none;  
                justify-content: center;
                align-items: center;
                gap: 5px;
                color: $black-color;
                width: 98px;
                height: 55px;
                text-align: center;
                &:Hover{
       
                    background-color: #008be8;
                    color:$white1-color;
                    transition: $main-transition;
                }
        
            }
        
            .FaBars{
                    display: block;
            }
        }
        
        .me-auto  {
        justify-content: end !important;
        }
    
    }
}
