$header-font-size: 1.5rem;
@import '../App.scss';

.overlay-home{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

    .homepage{
        width: 100%;
        height: 100vh;

        .navbar-brand{
            color: #ffffff;
            font-size: $header-font-size;
            font-weight: 900;
        }

        .nav-link{
            color: #fff;
            font-size: $header-font-size;
            font-weight: 900;
        }

        .profile{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 10px;

            .photo{

              img{
                height: 400px;
                width: 400px;
                border-radius: 50%;
                object-fit: cover;
              }
            }   

            .text{
                text-align: center;
                align-self: center;
                .title{
                    font-size: 3rem;
                    text-align: center;
                }
                .hello{
                    font-size: 21px;
                    font-weight: 700;
                }
            }
    
            .btn-1 ,.btn-2 {
                border: 1px solid white;
                color: #fff;
                background-color: transparent;
                margin: 15px;
                font-weight: 600;
                transition: all 300ms ease;
                padding: 1rem;
                width: 10rem;
                border-radius: 2rem;
            }

            }

}

@media screen and (max-width:800px) {

    .homepage{
        width: 100%;
        height: 100vh;

        .navbar-brand{
            color: #ffffff;
            font-size: $header-font-size;
            font-weight: 900;
        }

        .nav-link{
            color: #fff;
            font-size: $header-font-size;
            font-weight: 900;
        }

        .profile{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 10px;

            .photo{

              img{
                height: 200px;
                width: 200px;
                border-radius: 50%;
                object-fit: cover;
              }
            }   

            .text{
                text-align: center;
                align-self: center;
                .title{
                    font-size: 3rem;
                    text-align: center;
                }
                .hello{
                    font-size: 21px;
                    font-weight: 700;
                }
            }
    
            .btn-1 ,.btn-2 {
                border: 1px solid white;
                color: #fff;
                background-color: transparent;
                margin: 9px;
                font-weight: 300;
                transition: all 300ms ease;
                padding: 1rem;
                width: 6rem;
                border-radius: 2rem;
            }

            }

}
}