@import "../App.scss";

.project_card {
  position: relative;
  z-index: 1;
  aspect-ratio: 16/9;
  // border: 1px solid #cccccc;
  background-color: #f2f2f2;
  border-radius: 0px;
  display: flex;  
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: $box-shadow;
  height: 320px;
  width: 415px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (max-width: 768px) {
  // .project_card {
    
  // }
}


.project_card{
  height: 320px;
  width: 415px;
}


@media screen and (max-width:980px) {
  .project_card{
    height: 17rem;
    width: 20rem;
  }
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pro-img{
  object-fit: fill;
  width: 100%;
  height: 100%;

}

.card__image {
  width: 100%;
  height: 100%;
}

.project_card:hover {
  transform: scale(1.05);
  box-shadow:$box-shadow
}


.card__content {
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  gap: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #fff;
  box-sizing: border-box;
  background-color: rgb(14 42 62 / 88%);
  flex-direction: column ;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items :self-start;
  & a{
    color: white;
    text-decoration: none;
  }
 & a:visited {
    color: rgb(148, 255, 187);
  }
  .card_btn_container{
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
  }
}

.project_card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: $white-color;
  font-weight: 700;
}

// .project_card:hover svg {
//   scale: 0;
// }

.card__description {
  margin: 7px 0 7px;
  font-size: 16px;
  color: $white-color;
  line-height: 1.3;
}

.card__button {
  padding: 6px  7px;
  border-radius: 5px;
  background: $blue-color;
  border: none;
  color: $white-color;
}

.secondary {
  color: $white-color;
  background: transparent;
  border: 1px solid $blue-color;
}

.tech-stack {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.tech-icon {
  font-size: 1.5rem;
  color: #fff;
  // transition: color 0.3s ease;
  
  &:hover {
    color: #1ce748;
  }
}
