@import'../App.scss';

.proj-page{

    .porj-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .Side-Projects{
            width: 100%;
            h2{
                @include theline;
            }
        }
    }
    background-color:$white1-color;
    // background-color:$white1-color;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
 

}
