@import'../App.scss';

.proj-page{
    background-color:#81bbf5;
    // background-color:$white1-color;
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(2, auto auto);
}
