@import '../App.scss';
$colors:(#3cd63336, #0d6efd78, #f440365e) ;
$colors2:(#3bd633cc, #0d6dfdd1, #f43f36c2) ;

$header-font-size: 21px;
.sevices{
  scroll-margin-top:70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: auto 100px; 
    background-color: $white1-color;
    z-index: 1;
    height: auto;
}

.serv-container{
  margin-bottom:3rem;
  .h2{
    margin-top: 3rem !important;
    position: relative;
    top: 0px;
    padding: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
      @include thelineh2
   }
}

.My-Serv{ 
    grid-area: my-servtext;
    padding: 0px 0px;
    background-color: inherit;
    padding-top: 3rem;
    width: 100%;
    ul{
          list-style: none;
          padding: 0px ;
          gap: 30px;
        li{
              position: relative;
              text-align: center;
              height: 470px;
              width: 300px;
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap ;
              align-items: center;
              border: 1px solid #ccc;
              border-radius: 2px;
              overflow: hidden;
        
              & div:first-of-type{
                // display: inline-block;
                position: relative;
                width: 100%;
                height: 240px;
                overflow: hidden;

                  & img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
                  &::before{
                    content: "";
                    z-index: 2;
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    width: 100%;
                    height: 100%;

                  }

                  &:after{
                    content: "";
                    z-index: 3;
                    position: absolute;
                    bottom: -1px;
                    right: 0;
                    border-style: solid;
                    border-width: 0px 0px 59px 338px;
                    border-color: transparent transparent white transparent;
                    transition: 0.3s;
                    will-change: transform, box-shadow, z-index;
                  }
                }
                .title_div{
                  display: flex;
                  height: 50%;
                  flex-wrap: wrap;
                  justify-content: center;
                  flex-direction: column;
                }
                .strong{
                  position: relative;
                  bottom: 0;
                  right: 0;
                  z-index: -1;
                  width: 100%;
                  height: 230px;

                }
                .title{
                  position: relative;
                  align-items: center;
                  bottom: 0px;
                  z-index: 5;
                  height: 49%;
                  width: 100%;
                  animation: fadeInLeft;
                  animation-duration: 0.5s;

                  span {
                    position: relative;
                    font-weight: 500;
                    padding: 15px 10px;
                    margin-bottom: 16px;
                    border-radius: 5px;
                    width: 250px;
                    font-size: 17px;

                        &::after{
                          content: "";
                          content: "";
                          position: absolute;
                          bottom: 0px;
                          height: 5px;
                          left: calc(250px - 85%);
                          width: 70%;
                        }
                      }
                      .btn{
                        font-weight: 500;
                        cursor: pointer;
                      }
                }


                  &:hover div:first-of-type::after{
                    content: "";
                    z-index: 3;
                    position: absolute;
                    bottom: 0px;
                    right: 0;
                    border-style: solid;
                    border-width: 0px 500px 140px 0px;
                    border-color: transparent transparent white transparent;
                    transition: $main-transition;
                    will-change: transform, box-shadow, z-index;
                  }

                  @for $i from 1 through length($colors2){
                    &:hover:nth-child(#{$i}) div:nth-of-type(2){
                    .btn{
                        border: 1px solid #ccc;
                        color: white;
                        background-color:nth($colors2, $i) !important;
                      }
                    }
                  }

                 .services-dis{
                  animation: fadeInLeft;
                  animation-duration: 0.5s;
                  & p{
                    overflow-y: auto;
                    overflow-x: hidden;
                    height: 25em;
                      display: flex;
                      justify-content: normal;
                      padding: 18px;
                      text-align: start;
                      line-height: 2.0rem;
                  }

                 }
                  
          }
          
          // loop to apply color for sevice card ellements


          @for $i from 1 through length($colors){
            li:nth-child(#{$i}) div:first-of-type{
              &::before {
                background-color:nth($colors, $i) !important;
              }
            }

            li:nth-child(#{$i}) div:nth-of-type(2){
              span::after {
                background-color:nth($colors, $i) !important;
              }
            }


          }
      }
 }

 @media screen and (max-width:980px) {
  .sevices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $white1-color;
    z-index: 1;
  }
}
