@import'../App.scss';
@import'../Assets/Home.scss';

  .skills-page{
    position: relative;
    background-image: url('../Assets/images/homeBK.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    // background-color: #f3f8ff;
    z-index: 1;

    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0 34 106 / 29%);
    }

        // box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);

        & h2,strong{
          color: white !important;
        }

     .about-container{
            position: relative;
            padding-bottom: 3rem;
            width: 100%;
            height: 100%;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            .h2{
              margin-top: 15px !important;
              position: relative;
              top: 0px;
              padding: 20px;
              height: 50px;
              width: 200px;
              text-align: center;
                @include thelineh2
             }

             .My-skills{
              padding-top: 3rem;
              flex-wrap: wrap;
              flex-direction: row;
              width: 100%;
             }
      

            ul{
              list-style: none;
              padding-top: 3rem;
              gap: 65px;
              padding: 0px 0px;
              li{
                  text-align: center;
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                  align-items: center;
               
                  .skill-icon-1{
                    border: #c4c8cb solid 0.222px;
                    padding:12px;
                    border-radius: 5px;
                    transform: rotate(45deg);
                     backdrop-filter: blur(8px);
                  }

                  $colors:(#E44D26, #264DE4, #CD6799, #F0DB4F,#61DAFB) ;
                  @for $i from 1 through length($colors) {
                    &:nth-child(#{$i}) {
                      svg{
                        color: nth($colors, $i);
                        font-size: 4rem;
                        transform: rotate(315deg);
                    }

                    }
                  }

                  strong{
                      font-weight: $font-weight-normal;
                  }
                }

              
            }
      }

    }


@media  screen and (max-width :980px ) {
    .about-page{
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0px;
      background-color: $white1-color;
      z-index: 1;

        // box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);


     .about-container{
        position: relative;
          width: 100%;
          height: 100%;

            .h2{
              margin-top: 30px !important;
              position: relative;
              top: 0px;
              padding: 20px;
              height: 50px;
              width: 200px;
              text-align: center;
                @include thelineh2

             }
             .My-skills{
              margin-bottom: 115px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;
              flex-direction: row;
              width: 100%;
             }
      

            ul{
              list-style: none;
              padding-top: 3rem;
              gap: 65px;
              padding: 0px 0px;
              li{
                  text-align: center;
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                  align-items: center;

                  $colors:(#ff5733, #33ccff, #cc99ff, #ffcc00, #66ff66) ;
                  @for $i from 1 through length($colors) {
                    &:nth-child(#{$i}) {
                      svg{
                        color: nth($colors, $i);
                        font-size: 4rem;
                    }

                    }
                  }
                  strong{
                      font-weight: $font-weight-normal;
                  }
                }

              
            }
      }

    }

}