@import '~bootstrap/scss/bootstrap';

// Global color styles

$primary-color: #c7c7c7;
$secondary-color: #6c757d;// Global typography styles


body {
  font-family: Arial, sans-serif;
  background-image: url('./Assets/images/ahmedbg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-container {
  background-color: rgba(7, 104, 46, 0.5); /* Adjust the color and opacity of the overlay */
  color: white; /* Text color on the overlay */
  padding: 0px !important;
  margin: 0px !important;
  text-align: center;
}
h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
}



// Global spacing styles
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}

footer {
  padding: 10px 0;
  background-color: $secondary-color;
  color: white;
  text-align: center;
}

.btn {
  height: 50px;
  width: 100px;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
}

